/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #80b1a3;
}

header {
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
}

.home-container h1 {
    font-size: 50px;
    font-weight: bold;
}

.home-container p {
    font-size: 25px;
    font-weight: bold;
}


.home-container img {
    max-width: 50%;
    border-radius: 10px;
}

.products {
    text-align: center;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.contact-container {
    text-align: center;
    padding: 20px;
}

.contact-container p {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
